{
    "plugins": ["import", "unused-imports", "prettier"],
    "extends": ["airbnb", "airbnb-typescript", "prettier"],
    "rules": {
      "prettier/prettier": "error",
      "indent": "off",
      "@typescript-eslint/no-redeclare": 0,
      "@typescript-eslint/no-explicit-any": 1,
      "@typescript-eslint/no-unsafe-argument": "error",
      "@typescript-eslint/no-unsafe-assignment": "error",
      "@typescript-eslint/no-unsafe-call": "error",
      "@typescript-eslint/no-unsafe-member-access": "error",
      "@typescript-eslint/no-unsafe-return": "error",
      "@typescript-eslint/restrict-plus-operands": "error",
      "@typescript-eslint/restrict-template-expressions": "error",
      "import/prefer-default-export": "off",
      "no-nested-ternary": "off",
      "global-require":"off",
      "unused-imports/no-unused-imports": "error",
      "max-len": ["error", {"code": 100}],
      "no-empty":"off",
      "import/extensions": ["error", "always"],
      "radix": "off"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    }
  }
  